<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.mapper.CityWarningMapper">
  <resultMap id="BaseResultMap" type="com.team.dto.CityWarning">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="aqi" jdbcType="INTEGER" property="aqi" />
    <result column="co" jdbcType="DOUBLE" property="co" />
    <result column="pm2" jdbcType="INTEGER" property="pm2" />
    <result column="pm10" jdbcType="INTEGER" property="pm10" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, city, aqi, co, pm2, pm10, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from city_warning
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from city_warning
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.team.dto.CityWarning">
    insert into city_warning (id, city, aqi, 
      co, pm2, pm10, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{city,jdbcType=VARCHAR}, #{aqi,jdbcType=INTEGER}, 
      #{co,jdbcType=DOUBLE}, #{pm2,jdbcType=INTEGER}, #{pm10,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.team.dto.CityWarning">
    insert into city_warning
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="aqi != null">
        aqi,
      </if>
      <if test="co != null">
        co,
      </if>
      <if test="pm2 != null">
        pm2,
      </if>
      <if test="pm10 != null">
        pm10,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="aqi != null">
        #{aqi,jdbcType=INTEGER},
      </if>
      <if test="co != null">
        #{co,jdbcType=DOUBLE},
      </if>
      <if test="pm2 != null">
        #{pm2,jdbcType=INTEGER},
      </if>
      <if test="pm10 != null">
        #{pm10,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.dto.CityWarning">
    update city_warning
    <set>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="aqi != null">
        aqi = #{aqi,jdbcType=INTEGER},
      </if>
      <if test="co != null">
        co = #{co,jdbcType=DOUBLE},
      </if>
      <if test="pm2 != null">
        pm2 = #{pm2,jdbcType=INTEGER},
      </if>
      <if test="pm10 != null">
        pm10 = #{pm10,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.dto.CityWarning">
    update city_warning
    set city = #{city,jdbcType=VARCHAR},
      aqi = #{aqi,jdbcType=INTEGER},
      co = #{co,jdbcType=DOUBLE},
      pm2 = #{pm2,jdbcType=INTEGER},
      pm10 = #{pm10,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from city_warning
  </select>
  <select id="getCityList" resultMap="BaseResultMap">
    select  DISTINCT city  from city_warning
  </select>

  <select id="findCity" parameterType="java.lang.String" resultMap="BaseResultMap">
    select  * from city_warning where city = #{city,jdbcType=VARCHAR}
  </select>
</mapper>
